$standard-width: 1170px;
$larger-width: 1420px;
// Spacing // 
$space-50: 50px;

$button-bg-color: #e9490a;
$main-color: #024B6C;

// font //
$min-weight:100;
$medium-weight:600;
$weighty: 700;
$very-weighty: 900;

$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-24: 24px;
$size-26: 26px;
$size-30: 30px;
$size-55: 55px;
$size-82: 82px;